# Ignore the following scripts
getPointPairs.ipynb
getPointPairsAdvanced.ipynb
getPointPairsSimple.ipynb
leastCostPath.ipynb
leastCostPathAdvanced.ipynb
plotLCP.ipynb
TLoutlierAnalysis.ipynb

#Ignore all log files
*.log


