# Ignore the following scripts
getPointPairs.ipynb
getPointPairsAdvanced.ipynb
getPointPairsSimple.ipynb
leastCostPath.ipynb
leastCostPathAdvanced.ipynb
plotLCP.ipynb
TLoutlierAnalysis.ipynb

#Ignore the following log files
voltage_100_161_twogeos_v2.log


